<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TMS</title>
    <link rel="stylesheet" href="login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form action="index.html">
      <div class="content">
        <div class="welcome-container">
          <h1 class="title">Log in</h1>
          <p class="welcome">Welcome Back</p>
        </div>
        <div class="inputs-container">
          <input
            class="employee-input"
            type="text"
            placeholder="EMPLOYEE ID"
            name="employee-id"
          />
          <input
            class="password-input"
            type="password"
            placeholder="PASSWORD"
            name="password"
          />
        </div>
        <div class="button-container">
          <button class="continue-button">Continue</button>
        </div>
        <!-- 
        Missing clear instructions on how to proceed when doing a password reset
        <div class="forgot-password-container">
          <a class="forgot-password" href="">Forgot password?</a>
        </div> -->
      </div>
    </form>
  </body>
</html>
