<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/dispute.css" />
    <link rel="stylesheet" href="/styles/app.css" />
    <link rel="stylesheet" href="/styles/general.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <div class="nav-bar-buttons">
        <ul class="nav-list hidden">
          <li><a href="index.html">Home</a></li>
          <li><a href="">Reports</a></li>
          <li><a href="login.html">Logout</a></li>
        </ul>
      </div>
      <p>[Nombre empleado] - [Codigo Empleado]</p>
    </nav>
    <div class="dispute-modal">
      <p>Last shift [Date]</p>
      <p>Total worked hours: 80</p>
      <div class="dispute-buttons-container">
        <a href="index.html"><button class="approve btn">Approve</button></a>
        <button class="dispute btn dispute-modal">Dispute</button>
      </div>
    </div>
    <div>
      <form class="dispute-form hidden" action="index.html">
        <label for="dispute-reasons">Select a reason</label>
        <select name="dispute-reasons" id="dispute-reasons">
          <option value="">Reason 1</option>
          <option value="">Reason 1</option>
          <option value="">Reason 1</option>
          <option value="">Reason 1</option>
        </select>
        <label for="dispute-reason-description">Content:</label>
        <input
          required
          type="text-area"
          id="dispute-reason-description"
          name="dispute-reason-description"
          rows="10"
          cols="50"
        />
        <button class="escalate-dispute-button">Escalate to Supervisor</button>
      </form>
    </div>
    <script src="/dispute.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
