.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  margin-right: 0.6rem;
}
